<p class="header">
    <mat-toolbar color="primary">
      <span>Rent A Car App</span>
      <span class="example-spacer"></span>
      <ul class="header-menu">
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Anasayfa</a
          >
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active">Hakkında</a>
        </li>
        <li>
          <a routerLink="/cars" routerLinkActive="active">Araçlar</a>
        </li>
      </ul>
    </mat-toolbar>
  </p>
  