<footer class="site__footer">
  <div class="site__footer-top">
    <div class="site__container">
        <p style="color:white">Rent A Car Logo</p>
      <!-- <a href="/" aria-label="Enterprise">
        <img
          class="lazy"
          data-src="/assets/images/logo.svg"
          alt="Rent A Car"
          src="/assets/images/logo.svg"/>
    </a> -->
    </div>
  </div>
  <div class="site__footer-center">
    <div class="site__container">
      <div class="row accordion" accordion="mobile">
        <div class="col-md-3">
          <div class="footer__menu">
            <p class="footer__menu-head accordion-item-head">
              REZERVASYONLARIM
            </p>
            <ul class="footer__menu-list accordion-item-content">
              <li>
                <a class="gtmfooter" href="/rezervasyon/ara"
                  >Rezervasyon Başlat</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer__menu">
            <p class="footer__menu-head accordion-item-head">
              KURUMSAL ÜYE GİRİŞİ
            </p>
            <ul class="footer__menu-list accordion-item-content">
              <li><a class="gtmfooter" href="/hakkimizda">Hakkımızda</a></li>
              <li>
                <a class="gtmfooter" href="/misyon-vizyon">Vizyon&amp;Misyon</a>
              </li>
              <li>
                <a class="gtmfooter" href="/degerlerimiz">Değerlerimiz</a>
              </li>
              <li>
                <a class="gtmfooter" href="/bilgi-toplumu-hizmetleri"
                  >Bilgi Toplumu Hizmetleri</a
                >
              </li>
              <li>
                <a
                  class="gtmfooter"
                  href="/kisisel-verilerin-korunmasi/genel-aydinlatma-metni"
                  >Kişisel Verilerin Korunması</a
                >
              </li>
              <li>
                <a class="gtmfooter" href="/kalite-politikasi"
                  >Kalite Politikası</a
                >
              </li>
              <li><a class="gtmfooter" href="/iletisim">İletişim</a></li>
            </ul>
          </div>
          <div class="footer__menu">
            <p class="footer__menu-head">MÜŞTERİ HİZMETLERİ</p>
            <ul class="footer__menu-list">
              <li>
                <a class="gtmfooter" href="/gizlilik-politikasi"
                  >Gizlilik Politikası</a
                >
              </li>
              <li><a class="gtmfooter" href="/yasal-uyari">Yasal Uyarı</a></li>
              <li>
                <a class="gtmfooter" href="/iptal-iade-sartlari"
                  >İade/İptal Şartları</a
                >
              </li>
              <li>
                <a class="gtmfooter" href="/kiralama-sozlesmesi"
                  >Kiralama Sözleşmesi</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer__menu">
            <p class="footer__menu-head accordion-item-head">İLETİŞİM</p>
            <ul class="footer__menu-list accordion-item-content">
              <li><a class="gtmfooter" href="/ebulten">E-Bülten</a></li>
              <li>
                <a class="gtmfooter" href="/arac-kiralama-bayi-basvuru-formu"
                  >Bayi Başvuru Formu</a
                >
              </li>
              <li>
                <a class="gtmfooter" href="/insan-kaynaklari-formu"
                  >İnsan Kaynakları Formu</a
                >
              </li>
              <li>
                <a class="gtmfooter" href="/rezervasyon-iptal-formu"
                  >Rezervasyon İptal Formu</a
                >
              </li>
              <li>
                <a class="gtmfooter" href="/ikinci-el-talep-formu"
                  >İkinci El Talep Formu</a
                >
              </li>
            </ul>
          </div>
          <div class="footer__menu">
            <p class="footer__menu-head">BİZE ULAŞIN</p>
            <ul class="footer__menu-list">
              <li><a href="javascript:">444 4 444</a></li>
              <li><a href="javascript:">info@info.com.tr</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3" style="display: none">
          <div class="footer__menu">
            <p class="footer__menu-head">UYGULAMAYI İNDİR</p>
            <div class="store_logos">
              <a href="javascript:"
                ><img
                  class="lazy"
                  data-src="/assets/images/google-play.svg"
                  alt="" /></a
              ><br />
              <a href="javascript:"
                ><img
                  class="lazy"
                  data-src="/assets/images/app-store.svg"
                  alt=""
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site__footer-bottom">
    <div class="site__container">
      <div class="row">
        <div class="col-md-4">
          <ul class="social_media-list">
            <li>
              <a
                href="https://tr-tr.facebook.com/enterpriseturkiye"
                aria-label="Facebook"
                ><img
                  class="lazy"
                  data-src="https://www.enterprise.com.tr/assets/images/Social-Media-Icons/facebook.svg"
                  alt=""
                  src="https://www.enterprise.com.tr/assets/images/Social-Media-Icons/facebook.svg"
              /></a>
            </li>
            <li>
              <a href="https://twitter.com/enterprisetr" aria-label="Twitter"
                ><img
                  class="lazy"
                  data-src="https://www.enterprise.com.tr/assets/images/Social-Media-Icons/twitter.svg"
                  alt=""
                  src="https://www.enterprise.com.tr/assets/images/Social-Media-Icons/twitter.svg"
              /></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/accounts/login/?next=/enterpriseturkiye/"
                aria-label="Instagram"
                ><img
                  class="lazy"
                  data-src="https://www.enterprise.com.tr/assets/images/Social-Media-Icons/instagram.svg"
                  alt=""
                  src="https://www.enterprise.com.tr/assets/images/Social-Media-Icons/instagram.svg"
              /></a>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <ul class="site__footer-bottom-menu">
            <li>
              <a class="gtmfooter" href="/gizlilik-politikasi"
                >Gizlilik Politikası</a
              >
            </li>
            <li>
              <a class="gtmfooter" href="/cerez-politikasi">Çerez politikası</a>
            </li>
            <li>
              <span>© 2021 Rent A Car A.Ş.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
